.region-header {
    margin-top: 2%;
    .block-system-branding-block {
        width: 25%;
        display: inline-block;
        vertical-align: middle;
        img {
            max-width: 150px; 
        }
    }
}